/* styles.css */

form {
  max-width: 50%;
  margin: 50px auto;
  padding: 20px;
  
}

form h2 {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #d62027;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #c51d22;
}

form p {
  text-align: center;
}

form p a {
  color: #d62027;
  text-decoration: none;
}

form p a:hover {
  text-decoration: underline;
}

.app {
  background: #f9dada;
}
h1 {
  color: #165a72;
  margin: 50px auto;
  font-size: 40px;
}
.menu1 {
  margin-bottom: 40px;
  margin-top: 20px;
}
h2 {
  color: #165a72;
}