/* Styles for the banner component */
.custom-banner {
  background: linear-gradient(to right, #d62027, #ff7e5f); /* Same gradient as Home.js */
  color: #fff; /* White text color */
  border-radius: 10px; /* Rounded corners */
  padding: 40px 0; /* Adjust padding */
  text-align: center; /* Center align text */
}

.custom-banner .banner-content {
  max-width: 800px; /* Set a max width for the content */
  margin: 0 auto; /* Center the content */
  padding: 0 20px; /* Padding on the sides */
}

.custom-banner h2 {
  font-size: 2.5rem; /* Adjust font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 1rem; /* Space below the heading */
}

.custom-banner p {
  font-size: 1.25rem; /* Adjust font size */
  font-weight: 300; /* Light weight text */
  margin-bottom: 2rem; /* Space below the paragraph */
}

.custom-banner .btn-light {
  background-color: #fff; /* White background for the button */
  color: #d62027; 
  border: 2px solid #ff7e5f; /* Blue border for the button */
  font-size: 1rem; /* Adjust font size */
}

.custom-banner .btn-light:hover {
  background-color: #ed420e; /* Blue background on hover */
  color: #fff; /* White text color on hover */
}
