/* Basic styling for the sidebar */
.sidebar {
    background-color: #dc3545; /* Red background */
    color: #fff; /* White text */
    height: 100vh;
    width: 100% ;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.css-1wvake5 {
    width: 100% !important;
}
.css-1wvake5.ps-collapsed {
    width: 80px !important;
}
.ps-collapsed h2{
    display: none;
}

/* Styling for the sidebar header */
.sidebar-header {
    padding: 1rem 24px;
    display: flex;
    align-items: center;
    background-color: #c82333; /* Slightly darker red for the header */
}

/* Menu hamburger icon */
.sidebar-header .hamburger {
    font-size: 2.5rem; /* Adjust font size for the icon */
    cursor: pointer;
    color: #fff; /* White color for the icon */
     /* Space between icon and text */
}

/* Menu text */
.sidebar-header h2 {
    color: #fff; /* White text color */
    margin: 0;
    margin-left: 1rem;
    font-size: 1.5rem; /* Adjust font size as needed */
    text-align: center; /* Center text */
}

/* Sidebar navigation */
.sidebar-nav {
    flex: 1;
    overflow-y: auto;
}

/* Menu items */
.sidebar-nav .nav-link {
    /* Black text color */
    font-weight: bold;
    padding: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none; /* No underline */
}

/* Styling for the active menu item */
.sidebar-nav .nav-link.active {
    background-color: #bd2130; /* Darker red for active item */
}

/* Remove line under the links */
.sidebar-nav .nav-link:hover {
    background-color: #c82333; /* Red background on hover */
    color: #fff; /* Ensure text remains white on hover */
    text-decoration: none; /* No underline on hover */
}

/* Styling for the footer in the sidebar */
.sidebar-footer {
    padding: 1rem;
    background-color: #c82333;
    color: #fff;
    text-align: center;
}
.css-wx7wi4{
    width: 50px !important; /* Adjust font size for the icon */
    cursor: pointer;
    color: #fff !important;
}
.ps-menu-label{
    font-size: 1.5rem;
}
.ps-menuitem-root .ps-active{
    background-color: #fff;
}